/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
    --header-height: 48px;
    --font-semi: 600;
}

/*===== Colors =====*/
:root {
    --first-color: #4070F4;
    --second-color: #0E2431;
}

/*===== Font and Typography =====*/
:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 32px;
    --h2-font-size: 20px;
    --normal-font-size: 15px;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 56px;
        --h2-font-size: 32px;
        --normal-font-size: 16px;
    }
}

/*===== Margins =====*/
:root {
    --mb-1: 8px;
    --mb-2: 16px;
    --mb-3: 24px;
    --mb-4: 32px;
    --mb-5: 40px;
    --mb-6: 48px;
}

/*===== z index =====*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}


body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p {
    margin: 0;
}



ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow:hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== CLASS CSS ===== */
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

    .section-title::after {
        position: absolute;
        content: "";
        width: 64px;
        height: 2.88px;
        left: 0;
        right: 0;
        margin: auto;
        top: 32px;
        background-color: var(--first-color);
    }

.section {
    padding-top: 48px;
    padding-bottom: 32px;
}

/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 32px;
    width: calc(100% - 32px);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 32px;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #fff;
}

    .nav__link:hover {
        position: relative;
    }

        .nav__link:hover::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2.88px;
            left: 0;
            top: 32px;
            background-color: var(--first-color);
        }

.nav__logo {
    resize:both;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 24px;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.88px;
    left: 0;
    top: 32px;
    background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*===== HOME =====*/


.home {
    height: calc(100vh - 48px);
    grid-row-gap: 16px;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: var(--first-color);
}


.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 675px;
    height:605px;
    padding-top:90px;
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 12px 40px;
    font-weight: var(--font-semi);
    border-radius: 8px;
    
}

    .button:hover {
        box-shadow: 0 10px 36px rgba(0,0,255,0.3);
    }

/* ===== ABOUT =====*/
.about__container {
    grid-row-gap: 32px;
    text-align: center;
}

.about__subtitle {
    margin-bottom: var(--mb-2);
}

.about__img {
    justify-self: center;
}

    .about__img img {
        width: 450px;
        border-radius: 8px;
    }

    .about__text {
    text-align: justify;
    font-size:18px;
}

/* ===== SKILLS =====*/
.skills__container {
    grid-row-gap: 32px;
    text-align: center;
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 8px 16px;
    margin-bottom: var(--mb-4);
   
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.skills__icon {
    width:40px;
    height:40px;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 4px;
    border-radius: 8px;
    z-index: var(--z-back);
}

.skills__html {
    width: 75%;
}

.skills__css {
    width: 80%;
}

.skills__js {
    width: 65%;
}

.skills__php {
    width: 60%;
}

.skills__java {
    width: 70%;
}

.skills__cpp {
    width: 70%;
}

.skills__mysql {
    width: 75%;
}

.skills__python {
    width: 70%;
}

.counter__container {
    grid-row-gap: 32px;
    text-align: center;
    height: 60%;
    width: 100%;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    padding: 10px;
    overflow: hidden;
    align-content: center;
    font-weight: bold;
    font-family: var(--body-font);
    text-decoration-color: white;
}

.count-box1 {
    text-align: center;
    font-size: 20px;
    background-color: #4070F4;
    padding: 40px;
    letter-spacing: 2px;
}

.count-box {
    text-align: center;
    font-size: 20px;
    background-color: #4070F4;
    padding: 25.85px;
    letter-spacing:2px;
}


/* ===== Project =====*/
.project__container {
    grid-row-gap: 32px;
}

.project__img1 {
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    text-align: justify;
    text-orientation: sideways-right;
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    width:100%;
    height:auto;
}

.project__img2 {
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    text-align: justify;
    text-orientation: sideways-left;
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    width: 100%;
    height:auto;
}

.project__img1 img {
    transition: 1s;
    float: left;
    padding: 10px;
    width: 150px;
    height: 150px;
}

.project__img2 img {
    transition: 1s;
    float: right;
    padding: 10px;
    width: 150px;
    height: 150px;
}

        .project__img img:hover {
            transform: scale(1.1);
        }


/* === INTERESTS === */
.interests_container {
    grid-row-gap: 32px;
    text-align: center;
    height: 60%;
    width: 80%;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    padding: 10px;
    overflow: hidden;
    align-content: center;
    font-family: var(--body-font);
}

.row .icon-box {
    display: inline-block;
    align-items: center;
    padding: 10px;
}

    .row .icon-box p {
        font-size:16px;
        font-family: 'Poppins', sans-serif;
    }

/* ===== Extra-Curriculars =====*/
.ex__container {
    grid-row-gap: 40px;
    text-align: center;
    height: 60%;
    width: 80%;
    padding: 10px;
    overflow: hidden;
    align-content: center;
    font-family: var(--body-font);
}

    .ex__container p {
        font-size: 16px;
        text-align: justify;
    }

.ex-box1 {
    text-align: justify;
    text-orientation: sideways-right;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.ex-box2 {
    text-align: justify;
    text-orientation: sideways-left;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.ex-box1 img {
    transition: 1s;
    float: left;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.ex-box2 img {
    transition: 1s;
    float: right;
    padding: 20px;
    width: 150px;
    height: 150px;
}



.ex-box {
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    text-align: justify;
    text-orientation: sideways-right;
    padding: 10px;
    overflow: hidden;
}

/* ===== FOOTER =====*/
.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding:5px;
}

.footer__title {
    font-size: 16px;
    margin-bottom: var(--mb-4);
    padding-top:10px;
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 24px;
    color: #fff;
    margin: 0 var(--mb-2);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

        .section-title::after {
            width: 80px;
            top: 48px;
        }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__img {
        width: 457px;
        bottom: 15%;
    }

    .about__container, .skills__container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }

    .about__img img {
        width: 300px;
    }




    @media screen and (min-width: 1024px) {
        .bd-grid {
            margin-left: auto;
            margin-right: auto;
        }

        .home__img {
            right: 10%;
        }
    }
}
